* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Modile phones */

header > h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  margin: 20px 0;
}

span {
  font-size: smaller;
}

.photo {
  width: 150px;
  height: 150px;
  border: 4px solid #415BA5;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background-color: #a1a0a0;
}

img {
  width: 100%;
}

hr {
  margin: 20px 0;
  border-top: 2px solid #415BA5;
}

.about {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 40px;
  margin-top: 30px;
}

.about > h2 {
  margin-bottom: 20px;
}

footer {
  border: none;
  height: 80px;
  width: 100%;
  background-color: #a1a0a0;
  color: #fff;
  padding: 20px 50px;
}

.contacts {
  font-size: 1.5rem;
  text-align: center;
}

.contacts img {
  width: 32px;
}

/* Block container */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px auto;
  row-gap: 20px;
}
.collapsible {
  width: 95%;
  position: relative;
  text-transform: uppercase;
}

.collapsible.opened::before {
  content: '-';
  position: absolute;
  
  font-weight: bold;
  right: 20px;
}

.collapsible::before {
  content: '+';
  position: absolute;
  font-weight: bold;
  right: 20px;
}

.collapsible::after {
  content: '';
  position: absolute;
  border: 1px solid #415BA5;
  width: 100%;
  left: 0;
  top: 30px;
}

/* block experience */
.experience-left-side {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.experience-icon {
  width: 100px;
  text-align: center;
}

.experience-right-side {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.experience-content {
  display: none;
}

.experience-content ul {
  margin-top: 10px;
}

.experience-content.active {
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 20px;
  padding-top: 10px;
}
/* block experience */

/* block languages */
.languages-left-side {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.languages-icon {
  width: 70px;
  text-align: center;
}

.languages-right-side {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.languages-content {
  display: none;
}

.languages-content.active {
  display: block;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  padding-left: 20px;
  padding-top: 10px;
}
/* block languages */

/* block education */
.education-left-side {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.education-icon {
  width: 70px;
  text-align: center;
}

.education-right-side {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.education-content {
  display: none;
}

.education-content.active {
  display: block;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  padding-left: 20px;
  padding-top: 10px;
}
/* block education */

/* block skills */
.skills-left-side {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.skills-icon {
  width: 60px;
  text-align: center;
}

.skills-right-side {
  grid-row: 7 / 8;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.skills-content {
  display: none;
}

.skills-content.active {
  display: block;
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  padding-left: 20px;
  padding-top: 10px;
}
/* block skills */

/* block courses */
.courses-left-side {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
}

.courses-icon {
  width: 70px;
  text-align: center;
}

.courses-right-side {
  grid-row: 9 / 10;
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.courses-content {
  display: none;
}

.courses-content.active {
  display: block;
  grid-column: 2 / 3;
  grid-row: 10 / 11;
  padding-left: 20px;
  padding-top: 10px;
}
/* block courses */




/* Desktop */
@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .about {
    max-width: 1100px;
  }

  .collapsible::before, .collapsible::after {
    content: '';
    border: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1170px;
    min-width: 770px;
    margin: 0 auto;
    margin-top: 50px;
   }
   
   .courses-icon, .experience-icon, .education-icon, .languages-icon, .skills-icon {
     display: none;
   }

   .skills-right-side {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
   }

   .skills-content {
    display: block;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
   }

   .skills-content > ul {
    list-style: none;
    padding: 0 10px;
   }

   .skills-content > ul li {
    position: relative;
    margin-bottom: 20px;
   }

  .skills-content > ul li::after {
    content: '';
    top: 20px;
    position: absolute;
    height: 50%;
    background: linear-gradient(90deg, #76b82a, #aecd60);
    width: 50%;
    left: 0;
    border-radius: 10px;
  }

  .skills-content > ul li::before {
    content: '';
    top: 20px;
    position: absolute;
    height: 50%;
    background-color: #dedede;
    left: 0;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
  }

  .experience-content {
    display: block;
    border-left: 2px solid #415BA5;
    margin-left: 80px;
    padding-left: 50px;
    padding-bottom: 20px;
  }

  .experience-content h4 {
    position: relative;
  }

  .experience-content h4::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -65px;
    height: 20px;
    width: 20px;
    border: 3px solid #415BA5;
    border-radius: 50%;
    background-color: #dedede;
  }

  .languages-right-side {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .languages-content {
    display: block;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .languages-content > ul {
    list-style: none;
    padding: 0 10px;
   }

   .languages-content > ul li {
    position: relative;
    margin-bottom: 20px;
   }

  .languages-content > ul li::after {
    content: '';
    top: 20px;
    position: absolute;
    height: 50%;
    background: linear-gradient(90deg, #76b82a, #aecd60);
    width: 80%;
    left: 0;
    border-radius: 10px;
  }

  .languages-content > ul li::before {
    content: '';
    top: 20px;
    position: absolute;
    height: 50%;
    background-color: #dedede;
    left: 0;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
  }

  .education-right-side {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .education-content {
    display: block;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    border-left: 2px solid #415BA5;
    margin-left: 80px;
    padding-left: 50px;
  }

  .education-content h4 {
    position: relative;
  }

  .education-content h4::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -65px;
    height: 20px;
    width: 20px;
    border: 3px solid #415BA5;
    border-radius: 50%;
    background-color: #dedede;
  }

  .courses-right-side {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  .courses-content {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    display: block;
    border-left: 2px solid #415BA5;
    margin-left: 80px;
    padding-left: 50px;
  }
  .courses-content h4 {
    position: relative;
  }

  .courses-content h4::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -65px;
    height: 20px;
    width: 20px;
    border: 3px solid #415BA5;
    border-radius: 50%;
    background-color: #dedede;
  }

  .courses.collapsible {
    position: relative;
  }

  .courses::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    top: -20px;
    left: 80px;
    border-left: 2px solid #415BA5;;
  }

  .education {
    position: relative;
  }

  .education::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 60px;
    top: -20px;
    left: 80px;
    border-left: 2px solid #415BA5;;
  }

  footer {
    border: none;
    height: 80px;
    width: 100%;
    background-color: #a1a0a0;
    color: #fff;
    padding: 20px 50px;
  }
}
